In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
import seaborn as sns
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
columns_name = {0:'engineNumber',1:'cycleNumber',2:'opSetting1',3:'opSetting2',4:'opSetting3',5:'sensor1',6:'sensor2',
           7:'sensor3',8:'sensor4',9:'sensor5',10:'sensor6',11:'sensor7',12:'sensor8',13:'sensor9',14:'sensor10',
           15:'sensor11',16:'sensor12',17:'sensor13',18:'sensor14',19:'sensor15',20:'sensor16',
           21:'sensor17',22:'sensor18',23:'sensor19',24:'sensor20',25:'sensor21'}

In [2]:
train_fd001 = pd.read_table("train_FD001.txt", sep = " ", header=None)
train_fd001 = train_fd001.rename(columns=columns_name)
train_fd001

,engineNumber,cycleNumber,opSetting1,opSetting2,opSetting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,NaN,NaN
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,NaN,NaN
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,NaN,NaN
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,NaN,NaN
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,NaN,NaN

In [3]:
train_fd001 = train_fd001.iloc[:, 0:26]
train_fd001

,engineNumber,cycleNumber,opSetting1,opSetting2,opSetting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor12,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [4]:
test_fd001 = pd.read_table("test_FD001.txt", sep = " ", header=None)
rul_fd001 = pd.read_table("rul_FD001.txt", sep = " ", header=None)
test_fd001 = test_fd001.rename(columns=columns_name)
rul_fd001 = rul_fd001.rename(columns={0: 'RUL'})
test_fd001

,engineNumber,cycleNumber,opSetting1,opSetting2,opSetting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,NaN,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,NaN,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,NaN,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,NaN,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,NaN,NaN

In [5]:
test_fd001 = test_fd001.iloc[:, 0:26]
rul_fd001 = rul_fd001.iloc[:, :-1]

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [7]:
def add_remaining_useful_life(df):
    # Get the total number of cycles for each unit
    grouped_by_unit = df.groupby(by="engineNumber")
    max_cycle = grouped_by_unit["cycleNumber"].max()
    
    # Merge the max cycle back into the original frame
    result_frame = df.merge(max_cycle.to_frame(name='max_cycle'), left_on='engineNumber', right_index=True)
    
    # Calculate remaining useful life for each row
    remaining_useful_life = result_frame["max_cycle"] - result_frame["cycleNumber"]
    result_frame["RUL"] = remaining_useful_life
    
    # drop max_cycle as it's no longer needed
    result_frame = result_frame.drop("max_cycle", axis=1)
    return result_frame
  
train_fd001 = add_remaining_useful_life(train_fd001)
# train_fd001[columns_name+{26:'RUL'}].head()

In [8]:
train_fd001

,engineNumber,cycleNumber,opSetting1,opSetting2,opSetting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,4
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,3
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,2
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,1
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,0

In [9]:
def evaluate(y_true, y_hat, label='test'):
    mse = mean_squared_error(y_true, y_hat)
    rmse = np.sqrt(mse)
    variance = r2_score(y_true, y_hat)
    print('{} set RMSE:{}, R2:{}'.format(label, rmse, variance))

In [10]:
drop_sensors = ['sensor1','sensor5','sensor6','sensor10','sensor16','sensor18','sensor19']
drop_labels = ['engineNumber','sensor1','sensor5','sensor6','sensor10','sensor16','sensor18','sensor19']
# drop_labels = index_names+setting_names+drop_sensors

X_train_fd001 = train_fd001.drop(drop_sensors, axis=1)
y_train_fd001 = X_train_fd001.pop('RUL')

# Since the true RUL values for the test set are only provided for the last time cycle of each enginge, 
# the test set is subsetted to represent the same
X_test = test_fd001.groupby('engineNumber').last().reset_index().drop(drop_sensors, axis=1)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train_fd001, y_train_fd001, test_size = 0.2, random_state = 0)

In [12]:
X_train

,engineNumber,cycleNumber,opSetting1,opSetting2,opSetting3,sensor2,sensor3,sensor4,sensor7,sensor8,sensor9,sensor11,sensor12,sensor13,sensor14,sensor15,sensor17,sensor20,sensor21
5416,27,108,-0.0048,-0.0000,100.0,642.50,1586.58,1410.20,553.29,2388.10,9078.18,47.47,521.28,2388.10,8152.68,8.4409,394,38.73,23.3405
12333,63,27,-0.0014,0.0004,100.0,642.26,1587.05,1409.20,553.94,2388.05,9059.25,47.57,521.74,2388.00,8135.92,8.4508,394,38.92,23.3530
12124,61,183,0.0014,0.0000,100.0,643.48,1609.91,1423.40,551.48,2388.28,9034.33,48.21,519.65,2388.31,8113.64,8.5365,395,38.55,23.1324
13281,67,163,-0.0017,0.0003,100.0,642.93,1587.79,1403.62,554.30,2388.09,9069.65,47.55,522.15,2388.05,8149.17,8.4486,392,38.85,23.3336
9023,46,229,0.0028,0.0001,100.0,643.35,1589.93,1428.51,551.78,2388.17,9054.46,47.67,521.53,2388.22,8135.05,8.4753,394,38.59,23.2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,67,5,0.0022,-0.0002,100.0,642.08,1591.25,1395.19,554.75,2388.07,9067.98,47.36,521.90,2388.06,8142.97,8.4489,392,39.04,23.3165
19648,96,97,-0.0000,-0.0004,100.0,642.99,1587.87,1404.63,554.42,2388.08,9046.24,47.27,521.94,2388.07,8134.43,8.4208,394,39.01,23.3831
9845,50,135,0.0033,0.0004,100.0,642.90,1596.24,1410.80,552.80,2388.09,9073.29,47.58,521.08,2388.15,8152.20,8.4656,393,38.81,23.2899
10799,55,13,-0.0039,-0.0002,100.0,642.10,1595.20,1401.58,553.31,2388.12,9044.03,47.41,521.45,2388.09,8133.91,8.4336,392,38.88,23.1794
2732,14,24,-0.0018,0.0003,100.0,642.63,1589.49,1412.80,553.67,2388.08,9064.67,47.50,521.67,2388.09,8138.32,8.4272,394,38.92,23.2356

In [13]:
X_test

,engineNumber,cycleNumber,opSetting1,opSetting2,opSetting3,sensor2,sensor3,sensor4,sensor7,sensor8,sensor9,sensor11,sensor12,sensor13,sensor14,sensor15,sensor17,sensor20,sensor21
13474,68,43,0.0003,0.0003,100.0,642.84,1585.15,1404.49,553.12,2388.10,9064.26,47.25,521.90,2388.08,8142.88,8.4486,392,38.81,23.4724
1884,9,172,0.0041,0.0004,100.0,643.07,1593.98,1410.93,553.53,2388.01,9133.20,47.58,521.37,2388.08,8202.50,8.4565,393,38.78,23.2069
17170,85,19,-0.0007,0.0001,100.0,642.56,1588.44,1403.63,553.79,2388.04,9043.28,47.30,522.08,2388.11,8131.60,8.4319,393,38.99,23.2704
5190,26,81,-0.0029,0.0002,100.0,642.70,1585.84,1405.19,553.68,2388.07,9054.98,47.53,520.60,2388.09,8131.59,8.4811,390,38.86,23.3555
2515,12,140,0.0009,0.0002,100.0,643.04,1589.71,1418.94,553.26,2388.27,9048.85,47.77,520.49,2388.22,8122.92,8.4778,394,38.63,23.1876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,7,147,-0.0013,-0.0002,100.0,642.68,1589.94,1408.84,553.91,2388.11,9073.70,47.38,521.46,2388.06,8148.28,8.4228,392,38.91,23.3109
4144,20,211,-0.0005,-0.0003,100.0,643.74,1595.32,1420.74,551.78,2388.25,9068.59,48.13,520.24,2388.23,8144.78,8.5043,396,38.49,23.2040
13058,66,142,0.0011,-0.0004,100.0,642.54,1589.71,1414.81,553.17,2388.14,9069.69,47.94,520.90,2388.15,8144.11,8.4578,394,38.51,23.2085
10737,54,208,0.0013,-0.0002,100.0,642.90,1594.94,1415.70,552.87,2388.11,9084.56,47.55,521.48,2388.08,8171.47,8.4680,394,38.69,23.2625
11149,56,170,-0.0016,0.0003,100.0,643.34,1594.93,1414.30,553.28,2388.11,9064.70,47.79,522.04,2388.13,8144.50,8.4395,393,38.69,23.1922

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
# create and fit model
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [16]:
# predict and evaluate
y_hat_train = lm.predict(X_train)
evaluate(y_train, y_hat_train, 'train_fd001')

# predict and evaluate
y_hat_train2 = lm.predict(X_test)
evaluate(y_test, y_hat_train2, 'test_fd001')

train_fd001 set RMSE:39.7251548419294, R2:0.6698452526010782
test_fd001 set RMSE:39.04098289777746, R2:0.6687467922494758

In [17]:
from sklearn.tree import DecisionTreeRegressor

In [88]:
reg = DecisionTreeRegressor(criterion='mse', max_depth=10, random_state=1)
reg.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=10, random_state=1)

In [89]:

# predict and evaluate
y_hat_train = reg.predict(X_train)
evaluate(y_train, y_hat_train, 'train_fd001')

y_hat_train2 = reg.predict(X_test)
evaluate(y_test, y_hat_train2, 'test_fd001')

train_fd001 set RMSE:19.725915503722792, R2:0.9185931995129476
test_fd001 set RMSE:24.629337284488873, R2:0.8681670230748416

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [114]:
rtf = RandomForestRegressor(n_estimators = 100, criterion='mse', max_depth = None)

In [115]:
rtf.fit(X_train, y_train)

RandomForestRegressor()

In [116]:
y_hat_train_rtf = rtf.predict(X_train)
evaluate(y_train, y_hat_train_rtf, 'train_fd001')

train_fd001 set RMSE:5.910812906012888, R2:0.992690616055062

In [117]:
y_hat_test_rtf = rtf.predict(X_test)
evaluate(y_test, y_hat_test_rtf, 'train_fd001')

train_fd001 set RMSE:15.770992179632257, R2:0.9459449044453435

In [25]:
from sklearn import decomposition, datasets
from sklearn import tree
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler

In [26]:
pca = decomposition.PCA()

In [27]:
dtr = DecisionTreeRegressor()

In [28]:
pipe = Pipeline(steps = [("pca", pca), ("dtr", dtr)])

In [29]:
n_components = list(range(1,X_train.shape[1]+1,1))
n_components

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
criterion = ["friedman_mse", "mse","mae"]
max_depth = [4,6,8,10]

In [31]:
parameters = dict(pca__n_components=n_components, dtr__criterion=criterion, dtr__max_depth=max_depth)
parameters

{'pca__n_components': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19],
 'dtr__criterion': ['friedman_mse', 'mse', 'mae'],
 'dtr__max_depth': [4, 6, 8, 10]}

In [32]:
from sklearn.decomposition import PCA

In [33]:
pca_1 = PCA(n_components=7)

In [34]:
pca_1.fit(X_train)

PCA(n_components=7)

In [35]:
X_train_pca = pca_1.transform(X_train)

In [36]:
X_test_pca = pca_1.transform(X_test)

In [37]:
X_train_pca.shape

(16504, 7)

In [38]:
X_test_pca.shape

(4127, 7)

In [39]:
dtr_1 = DecisionTreeRegressor(criterion='friedman_mse', max_depth=6)

In [40]:
dtr_1.fit(X_train_pca, y_train)
y_hat_train_1 = dtr_1.predict(X_train_pca)
evaluate(y_train, y_hat_train_1, 'train_fd001')

train_fd001 set RMSE:36.06741215472407, R2:0.7278450018741972

In [42]:
y_hat_test_1 = dtr_1.predict(X_test_pca)
evaluate(y_test, y_hat_test_1, 'test_fd001')

test_fd001 set RMSE:36.945286073359036, R2:0.7033552449140494

In [68]:
dtr_2 = DecisionTreeRegressor(criterion='friedman_mse', max_depth=9)

In [69]:
dtr_2.fit(X_train_pca, y_train)
y_hat_train_2 = dtr_2.predict(X_train_pca)
evaluate(y_train, y_hat_train_2, 'train_fd001')

train_fd001 set RMSE:29.603431022528397, R2:0.8166544193985238

In [70]:
y_hat_test_2 = dtr_2.predict(X_test_pca)
evaluate(y_test, y_hat_test_2, 'test_fd001')

test_fd001 set RMSE:34.83392926582003, R2:0.7362918585998939

In [119]:
rtf = RandomForestRegressor(n_estimators = 10, criterion='mse', max_depth = None)

In [120]:
rtf.fit(X_train_pca, y_train)

RandomForestRegressor(n_estimators=10)

In [121]:
y_hat_train_rtf = rtf.predict(X_train_pca)
evaluate(y_train, y_hat_train_rtf, 'train_fd001')

train_fd001 set RMSE:12.927359695470445, R2:0.9650372153656396

In [122]:
y_hat_test_rtf = rtf.predict(X_test_pca)
evaluate(y_test, y_hat_test_rtf, 'train_fd001')

train_fd001 set RMSE:30.815780000968466, R2:0.7936212695505493

In [123]:
rtf = RandomForestRegressor(n_estimators = 100, criterion='mse', max_depth = None)

In [124]:
rtf.fit(X_train_pca, y_train)

RandomForestRegressor()

In [125]:
y_hat_train_rtf = rtf.predict(X_train_pca)
evaluate(y_train, y_hat_train_rtf, 'train_fd001')

train_fd001 set RMSE:10.935662855335064, R2:0.9749806182209451

In [126]:
y_hat_test_rtf = rtf.predict(X_test_pca)
evaluate(y_test, y_hat_test_rtf, 'train_fd001')

train_fd001 set RMSE:28.68799755738761, R2:0.821137590431491